# OOPs (object oriented programming)

In [1]:
1+2

3

In [17]:
class bankaccount:
    
    def openaccount(self,name,email_id): # its not taking three argument okay 
        print("open an account by taking name and mail id")
        return name+email_id
    
    def deposits(self,amount):
        print("I am trying to deposits an amount in my account")
    
    def withdraw(self,amount):
        print("withdraw the amount")
    
    def update_details(self,name_update,email_update):
        print("this function will update my name and mail if for account")

In [18]:
# we can also write seperately 
def openaccount(self,name,email_id): # its not taking three argument okay 
        print("open an account by taking name and mail id")
        return name+email_id

In [19]:
# we can also write seperately 
def withdraw(self,amount):
        print("withdraw the amount")

In [20]:
# we can also write seperately 
def update_details(self,name_update,email_update):
    print("this function will update my name and mail if for account")

In [36]:
class bankaccount:
    
    def openaccount(self,name,email_id): # its not taking three argument okay 
        print("open an account by taking name and mail id")
        return name+email_id
    
    def deposits(self,amount):
        print("I am trying to deposits an amount in my account")
        return amount
    
    def withdraw(self,amount):
        print("withdraw the amount")
        return amount
    
    def update_details(self,name_update,email_update):
        print("this function will update my name and mail if for account")

In [37]:
neeraj= bankaccount()

In [38]:
neeraj.openaccount("vijay", "bskj@gmail.com")

open an account by taking name and mail id

'vijaybskj@gmail.com'

In [39]:
neeraj.deposits(22353)

I am trying to deposits an amount in my account

22353

In [40]:
neeraj.withdraw(155)

withdraw the amount

155

In [44]:
l=[2,3,4,5,6,7]
l[3]

5

In [45]:
class list_ops:
    
    def extractfromindex(self,l,index):
        return l[index]
    
    def extractrangedata(self,start,end):
        return l[start:end]
    
    def extracteven(self,l):
        l1=[]
        for i in l:
            if i%2==0:
                l1.append(i)
        return l1

In [51]:
first_obj=list_ops()
first_obj.extractfromindex([2,34,5,6,7,8],4)

7

In [52]:
first_obj.extractrangedata([2,34,5,6,7,8], 1 , 4)

TypeError: list_ops.extractrangedata() takes 3 positional arguments but 4 were given

In [53]:
first_obj.extracteven([1,2,3,4,5,6,7,78])

[2, 4, 6, 78]

In [60]:
class list_ops:
    
    def extractfromindex(neeraj,l,index): # we can chnage self to my name or any name
        return l[index]
    
    def extractrangedata(neeraj,start,end):
        return l[start:end]
    
    def extracteven(neeraj,l):
        l1=[]
        for i in l:
            if i%2==0:
                l1.append(i)
        return l1

In [61]:
first_obj=list_ops()
first_obj.extractfromindex([2,34,5,6,7,8],4)

7

In [69]:
first_obj.extractrangedata([2,34,5,8],1,3)

TypeError: list_ops.extractrangedata() takes 3 positional arguments but 4 were given

In [63]:
first_obj.extracteven([1,2,3,4,5,6,7,78])

[2, 4, 6, 78]

In [86]:
class list_ops:
    
    a=10
    l1=[1,2,3,4,5]
    
    def extractfromindex(neeraj,l,index): # we can chnage self to my name or any name
        return l[index]
    
    def extractrangedata(neeraj,start,end):
        return l[start:end]
    
    def extracteven(neeraj,l):
        l1=[]
        for i in l:
            if i%2==0:
                l1.append(i)
        return l1

In [87]:
first_obj.extractfromindex([2,34,5,6,7,8],4)

7

In [88]:
first_obj.a

AttributeError: 'list_ops' object has no attribute 'a'

In [89]:
first_obj.extracteven([1,2,3,4,5,6,7,78])

[2, 4, 6, 78]

In [90]:
first_obj.l1

AttributeError: 'list_ops' object has no attribute 'l1'

In [91]:
second_obj=list_ops()

In [92]:
second_obj.a

10

In [93]:
second_obj.l1

[1, 2, 3, 4, 5]

In [94]:
second_obj.extracteven([1,2,3,4,5,78,98])

[2, 4, 78, 98]

In [95]:
second_obj.extractfromindex([1,2,3,4,5,6,7,7,8],4)

5

In [97]:
class list_ops:
    
    #a=10
    #l=[1,2,3,4,5]
    
    
    # dundar function 
    def __init__(neeraj,l):
        neeraj.l=l
    
    def extractfromindex(neeraj,l,index): # we can chnage self to my name or any name
        return l[index]
    
    def extractrangedata(neeraj,start,end):
        return l[start:end]
    
    def extracteven(neeraj,l):
        l1=[]
        for i in l:
            if i%2==0:
                l1.append(i)
        return l1

In [99]:
fourth_obj=list_ops([3,4,5,6,7])

In [100]:
fourth_obj.l

[3, 4, 5, 6, 7]

In [ ]:
fourth_obj.

In [101]:
class list_ops:
    
    #a=10
    #l=[1,2,3,4,5]
    
    
    # dundar function 
    def __init__(neeraj,l):
        neeraj.l1=l
        neeraj.l2=40
        neeraj.l3="vijay"
        neeraj.l4=(4,5,6,7,8)
        neeraj.l5={"key":"value"}
    
    def extractfromindex(neeraj,l,index): # we can chnage self to my name or any name
        return l[index]
    
    def extractrangedata(neeraj,start,end):
        return l[start:end]
    
    def extracteven(neeraj,l):
        l1=[]
        for i in l:
            if i%2==0:
                l1.append(i)
        return l1

In [106]:
fifth_obj=list_ops([1,2,3])
fifth_obj.l2

40

In [123]:
class book:
    
    def __init__(self,title,pageno):
        self.name_of_book=name
        self.title_of_book=title
        self.page_no=pageno
        
    def extract_details(self):
        print(self.name_of_book,self.title_of_book)
    
    def print_page_no(self):
        print(self.page_no)

In [124]:
jivan=book("dsa","practical dsa",234)
vijay=book("data science","impletation of data science",546)
dost=book("big data","invention with big data",987)

TypeError: book.__init__() takes 3 positional arguments but 4 were given

In [125]:
jivan.extract_details()

NameError: name 'jivan' is not defined

In [128]:
class gmail_ops:
    def __init__(self,userid,password):
        self.userid=userid
        self.password=password
        self.url="https://mango-scientist-ilaym.pwskills.app/lab/tree/work/1st%20october.ipynb"
        
    def login(self):
        print("take userid"+ self.userid + "take password" +  "hit url" + self.url)
        print("login")
        
    def read_mail(self):
        print("read mail for "+ self.userid +" "+ self.password)
        
        
    def reply_mail(self):
        print("reply mail for " + self.userid +" "+ self.password)

In [129]:
user1=gmail_ops("user1","user1paas")
user1.login()

take useriduser1take passwordhit urlhttps://mango-scientist-ilaym.pwskills.app/lab/tree/work/1st%20october.ipynb
login

In [ ]:
user2=

# write a prgram of calcultor

In [131]:
from functools import reduce
class calculator:
    
    def add(self,*args): # args basically use when more than 2 data put for our calculation
        return sum(args)
    
    
    def subtraction(self,*args):
        return reduce(lambda a,b:a-b,args)
    
    def multiplication(self,*args):
        return reduce(lambda a,b:a*b,args)
    
    def division(self,*args):
        return reduce(lambda a,b:a/b,args)

In [132]:
neeraj=calculator()

In [133]:
neeraj.add(1,2,3,4,7)

17

In [134]:
neeraj.division(1,2,3,4,5)

0.008333333333333333

In [135]:
neeraj.multiplication(1,2,3,4,5)

120

In [136]:
neeraj.subtraction(1,2,3,4)

-8

In [141]:
from functools import reduce
class calculator:
    
    def __init__(self,username):
        self.username=username
    
    def add(self,*args): # args basically use when more than 2 data put for our calculation
        return self.username(args)
    
    
    def subtraction(self,*args):
        return self.username, reduce(lambda a,b:a-b,args)
    
    def multiplication(self,*args):
        return self.username, reduce(lambda a,b:a*b,args)
    
    def division(self,*args):
        return self.username ,reduce(lambda a,b:a/b,args)

In [142]:
neeraj=calculator("vijay")

In [143]:
neeraj.add(1,2,3,4)

TypeError: 'str' object is not callable